# Auto detect text files and perform LF normalization
* text=auto

# Python files
*.py text eol=lf

# Web files
*.html text eol=lf
*.css text eol=lf
*.js text eol=lf
*.json text eol=lf

# Documentation
*.md text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.ico binary
*.db binary

